/* UNIVERSAL STYLING */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --logo-color: #0470D3;
    --color1: whitesmoke;
    --color2: #FAF0E4;
    --color3: #9BCDD2;
    --color4: #FF8551;
    --color5: #FFDEDE;
}

/* HOMEPAGE STYLING */
#homepage {
    height: 100vh;
}

#homepage-bg {
    position: relative;
    background-image: url(./Assets/imgs/home-main.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 5rem;
}

#another-home-el {
    display: flex;
    justify-content: right;
}

.homepage-el {
    margin: 5rem;
    text-align: right;
}

.homepage-el h1 {
    font-size: 4.5rem;
    color: white;
    font-weight: 700;
    padding-bottom: 2rem;
}

#getStartedBtn {
    background-color: var(--logo-color);
}

#getStartedLink {
    color: var(--color1);
    font-size: large;
}

/* not sure if this is applying to any button? It is not affecting the Home.js component */
.buttons {
    background-color: #FF8551;
}

/* CSS for the home button */
.home-start-btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.home-start-btn:disabled {
  pointer-events: none;
}

.home-start-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.home-start-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* NAVBAR STYLING */
#customNav {
    margin: 0 5vb;
}

#logo {
    height: 3rem;
}

/* FOOTER STYLING */
.footer {
    background-color: var(--color1);
}

.footer p {
    margin: .5em;
}

#logo {
    font-size: x-large;
    font-weight: 700;
}

.customLink {
    text-decoration: none;
}

#tripHome {
    color: var(--color1);
}



/* SIGN-UP and LOGIN FORM STYLING */
.login-signup-form {
    padding-top: 5rem;
}

.formHeader {
    text-align: center;
}

#submit-login-signup {
    margin-top: 1vb;
}

#image-row {
    padding: 1em;
}

#image-row img {
    border-radius: 1em;
}

#destinations-info {
    margin: 1em;
    padding: 1em;
}

#destinations-info {
    background-color: var(--color1);
    border-radius: 1em;
}

#destinations-info button {
    background-color: var(--color3);
}

li {
    list-style-type: none;
}