/* UNIVERSAL STYLING */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --logo-color: #0470D3;
    --color1: whitesmoke;
    --color2: #FAF0E4;
    --color3: #9BCDD2;
    --color4: #FF8551;
    --color5: #FFDEDE;
}

/* HOMEPAGE STYLING */
#homepage {
    height: 100vh;
}

#homepage-bg {
    background-image: url(./Assets/imgs/home-main.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 5rem;
}

#another-home-el {
    display: flex;
    justify-content: right;
}

.homepage-el {
    margin: 5rem;
    text-align: right;
}

.homepage-el h1 {
    font-size: 4.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.home-text {
    font-size: 50px;
    font-weight: bold;
    color: var(--color2);
    text-shadow: 5px 5px 5px black;
}

#getStartedBtn {
    background-color: var(--logo-color);
}

#getStartedLink {
    color: var(--color1);
    font-size: large;
}


/* not sure if this is applying to any button? It is not affecting the Home.js component */
.buttons {
    background-color: #FF8551;
}

/* CSS for the home button */
.home-start-btn {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #4A4945;
    border-radius: 50px;
    /* display: block; */
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #FFC90E  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.home-start-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.home-start-btn:active {
    transform: scale(0.95);
}

/* NAVBAR STYLING */
#customNav {
    margin: 0 5vb;
}

#logo {
    height: 3rem;
}

/* FOOTER STYLING */
.footer {
    background-color: var(--color1);
}

.footer p {
    margin: .5em;
}

#logo {
    font-size: x-large;
    font-weight: 700;
}

.customLink {
    text-decoration: none;
}

#tripHome {
    color: var(--color1);
}



/* SIGN-UP and LOGIN FORM STYLING */
.login-signup-form {
    padding-top: 5rem;
}

.formHeader {
    text-align: center;
}

#submit-login-signup {
    margin-top: 1vb;
}

#image-row {
    padding: 1em;
}

#image-row img {
    border-radius: 1em;
}

#destinations-info {
    margin: 1em;
    padding: 1em;
}

#destinations-info {
    background-color: var(--color1);
    border-radius: 1em;
}

#destinations-info button {
    background-color: var(--color3);
}

li {
    list-style-type: none;
}

li a{
    color: whitesmoke;
    text-decoration: none;
}